*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

ul li{
    text-decoration: none;
    list-style: none;
}

.unidades{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.unidades__div{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100px;
}

.unidades__div-imagen{
    height: 80px;
    width: 80px;
    margin: auto;
}

.recursos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px 0px;
}

.recursos li{
    display: flex;
    margin: 3px 0px;
}

