*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

ul li{
    text-decoration: none;
    list-style: none;
}

.unidades{
    width: 100%;
    display: flex;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
}

.unidades__div{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 80px;
}

.unidades__div-imagen{
    height: 80px;
    width: 80px;
    margin: auto;
    filter: brightness(.5);
}

.activeImg{
    filter: saturate(1.20);
}

.recursos{
    background-image: url(../Resources/resPannel.JPG);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 850px;
    width: 850px;
    height: 60px;
    color: white;
    font-weight: 400;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    margin: 15px 0px;
}

.recursos li{
    display: flex;
    margin: 3px 0px;
}

.recursos__wood-texto{
    width: 35px;
    height: 20px;
    text-align: right;
    position: relative;
    bottom: 0px;
    right: 0px;
    left: -21px;
    top: 26px;
}
.recursos__food-texto{
    width: 35px;
    height: 20px;
    text-align: right;
    position: relative;
    bottom: 0px;
    right: 0px;
    left: 43px;
    top: 26px;
}
.recursos__gold-texto{
    width: 35px;
    height: 20px;
    text-align: right;
    position: relative;
    bottom: 0px;
    right: 0px;
    left: 110px;
    top: 26px;
}
.recursos__stone-texto{
    width: 35px;
    height: 20px;
    text-align: right;
    position: relative;
    bottom: 0px;
    right: 0px;
    left: 176px;
    top: 26px;
}
.recursos__totales-texto{
    width: 35px;
    height: 20px;
    text-align: right;
    position: relative;
    bottom: 0px;
    right: 0px;
    left: 242px;
    top: 26px;
}

.ecoUpgrades{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.divRecurso-mejoras{
    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 10px;
    gap: 0 2px
}

.divMejora{
    height: 15px;
    width: 1fr;
    background-color: rgb(32, 65, 35);
}

.divMejoraActiva{
    background-color: rgb(59, 112, 54);
}

.divRecurso{
    height: 84px;
    margin: 5px;
    margin-bottom: 20px;
    width: 80px;
}

.divRecurso-img{
    height: 80px;
    width: 80px;
    margin-bottom: 1px;
}